.container {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: center;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 1rem 0;
  margin-left: 2.5%;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  background-color: rgb(170, 201, 31);
  color: #fff;
  font-weight: 800;
}
.editor {
  width: 100% !important;
  flex: 1;
}
#editor {
  border-right: 1px solid rgb(214, 104, 61);
  width: 100% !important;
}

#iframe {
  border: 2px solid rgb(38, 108, 221);
  flex: 1;
}

@media (min-width: 300px) and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  #editor {
    max-height: 40vh !important;
    overflow-y: scroll;
  }
  #iframe {
    border: 2px solid rgb(38, 108, 221);
    margin-top: 1rem;
    height: 40vh !important;
    overflow-y: scroll;
  }
}
